extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        a(href='/')
          img(src='/images/signin-twitter.png')
      p
        a(href='/')
          img(src='/images/signin-facebook.png')
